.ipynb_checkpoints/
*.pyc
experiments/**/logs/*
experiments/**/resources/*
*/**/data/**/*.csv
*/**/experiment_output/**/*.csv
*/**/experiment_output/**/*.json
data/**/*.csv
dist/
*egg-info/
*.DS_Store
